#if ($artist)
  <h1>$artist.getName() CDs:</h1>
  #if ($artist.getCds())
    <ul>
      #foreach ($cd in $artist.getCds())
        <li><a href="/cds/$cd.getId()">$cd.getTitle()</a></li>
      #end
    </ul>
  #else
    <h3>No CDs!</h3>
  #end
  <a href="/artists/$artist.getId()/cds/new">Add a new CD</a>
#else
  <em><p>Oops! We can't seem to find that Artist.</p></em>
#end
<br>
<a href="/artists">All Artists</a>
