<h1>Add an artist</h1>

<p>Add an artist here:</p>

<form action="/artists" method="post">
  <label for="name">Artist name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Artist</button>
</form>
