<h1>Add a CD to $artist.getName()</h1>

<form action="/cds" method="post">

  <input id="artistId" name="artistId" type="hidden" value="$artist.getId()">

  <div class="form-group">
    <label for="title">Name of album</label>
    <input id="title" name="title" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add CD</button>
</form>
