<p>Add a new CD:</p>

<form action="/cds" method="post">
  <label for="artist">Name of artist</label>
  <input id="artist" name="artist" type="text">
  <label for="title">Name of album</label>
  <input id="title" name="title" type="text">
  <button type="submit" class="btn btn-default">Add CD</button>
</form>
