<h1>Album List</h1>

#if ($cds)
  <ul>
    #foreach ($cd in $cds)
      <li><a href="/cds/$cd.getId()">$cd.getArtist(), $cd.getTitle()</a></li>
    #end
  </ul>
#else
  <p>No CDs!</p>
#end

<a href="/artists">All Artists</a>
